/* BANNER INICIA */
.banner {
  background-image: url(../assets/regular_1708x683_cover-default-cover-1-0489a6d7ee79e57ba5c63dc1f5a412a7.webp);
  height: 73vh;
  background-position: center;
  background-size: cover;
}
.banner h1 {
  font-size: 2.5rem;
  font-weight: 700;
  text-shadow: 2px 2px 5px #363D43;
}
.banner p {
  font-size: 1.25rem;
  text-shadow: 1px 1px 3px #363D43;
}

@media screen and (min-width: 768px) {
  .banner h1 {
    font-size: 4.375rem;
    text-shadow: 2px 2px 5px #363D43;
  }
  .banner p {
    font-size: 1.875rem;
    text-shadow: 1px 1px 3px #363D43;
  }
  .banner {
    height: 70vh;
  }
}
/* BANNER TERMINA */
/* FEATURES INICIA */
.icon {
  text-align: center;
  font-size: 40px;
  margin-top: 18px;
}

.features p {
  font-size: 1.25rem;
  margin-bottom: 18px;
  line-height: 1.5;
}

/* FEATURES TERMINA */
/* MUESTRA INICIA */
.bg-muestra {
  background-image: linear-gradient(to bottom, #011936, #011d3e, #002146, #01254f, #012957, #012957, #012957, #012957, #01254f, #002146, #011d3e, #011936);
}
.bg-muestra h1 {
  font-size: 1.75rem;
}
.bg-muestra p {
  font-size: 1.25rem;
}

.img-muestra {
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 1024px) {
  .bg-muestra h2 {
    font-size: 2.5rem;
  }
  .bg-muestra p {
    font-size: 1.25rem;
  }
}
/* MUESTRA TERMINA */
/* CARDS INICIA */
.grow {
  transition: all 1s ease-in-out;
}

.grow:hover {
  transform: scale(1.1);
}

.card-title {
  font-weight: bold;
  font-size: 1.25rem;
}

.card {
  border: 2px solid black;
}

/* CARDS TERMINA */
/* FOOTER INICIA */
.redes a {
  text-decoration: none;
  font-size: 50px;
  letter-spacing: 15px;
  color: white;
}
.redes a i {
  transition: 0.4s ease-in-out;
}

.fa-x-twitter:hover {
  color: #b8b8b8;
}

.fa-facebook:hover {
  color: #2050b3;
}

.fa-instagram {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
}

.fa-instagram:hover {
  color: transparent;
}

@media screen and (min-width: 768px) {
  .legales p {
    font-size: 1.563rem;
  }
  .nav-bt li {
    padding-left: 25px;
    padding-right: 25px;
  }
  .nav-bt a {
    font-size: 1.563rem;
  }
}
/* FOOTER TERMINA */
/* CONTACTANOS INICIA */
.cont-form {
  margin-top: 10px;
}

.google-maps {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
}
.google-maps iframe {
  position: absolute;
  top: 0px;
  left: auto;
  width: 100% !important;
  height: 450 !important;
}

.h1-cont {
  font-weight: 600;
  text-shadow: 2px 2px 5px #363D43;
}

@media screen and (min-width: 768px) {
  .cont-form {
    margin-top: 10px;
    margin-bottom: 100px;
    padding-left: 50px;
  }
  .google-maps {
    position: relative;
    padding-bottom: 35%;
    height: 0;
    overflow: hidden;
  }
  .google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }
}
/* CONTACTANOS TERMINA */
/* PRODUCTOS INICIA */
.gift img {
  width: 100%;
  height: 250px;
  border: solid 5px lightskyblue;
  border-radius: 5px;
  transition: all 1s ease-in-out;
}

.gift img:hover {
  transform: scale(1.1);
}

.gift h5 {
  color: white;
  text-align: center;
  z-index: 2;
}

@media screen and (min-width: 768px) {
  .gift {
    padding-top: 45px;
    padding-bottom: 50px;
  }
}
/* PRODUCTOS TERMINA */
/* SERVICIOS INICIA */
.main-servicios {
  color: white;
  text-align: center;
}
.main-servicios h1 {
  text-shadow: 2px 2px 5px #363D43;
  font-size: 3rem;
}
.main-servicios p {
  text-shadow: 1px 1px 3px #363D43;
  font-size: 1.1rem;
}
.main-servicios h2 {
  text-shadow: 2px 2px 5px #363D43;
}

.carousel-item img {
  max-height: 700px;
}
.carousel-item h1 {
  text-shadow: 2px 2px 5px #363D43;
}

/* SERVICIOS TERMINA */
/* CONOCENOS INCIA */
.h1-cono {
  font-weight: 600;
  text-shadow: 2px 2px 5px #363D43;
}

.container-cono p {
  font-size: 1rem;
}

.container-cono img {
  border: solid 5px #363D43;
}

@media screen and (min-width: 768px) {
  .container-cono p {
    font-size: 0.9rem;
  }
}
@media screen and (min-width: 991px) {
  .container-cono p {
    font-size: 1.125rem;
  }
}
/* CONOCENOS TERMINA */
.bg-dark {
  background-color: #011936 !important;
}/*# sourceMappingURL=estilos.css.map */