.banner{
    background-image: url(../assets/regular_1708x683_cover-default-cover-1-0489a6d7ee79e57ba5c63dc1f5a412a7.webp);
    height: 73vh;
    background-position: center;
    background-size: cover;
    h1{
        font-size: 2.5rem;
        font-weight: 700;
        text-shadow: $tshadow;
    }
    p{
        font-size: 1.25rem;
        text-shadow: $pshadow;
    }
}

@include mediaquery(768px) {
    .banner h1{
        font-size: 4.375rem;
        text-shadow: $tshadow;
    }
    .banner p{
        font-size: 1.875rem;
        text-shadow: $pshadow;
    }
    .banner{
        height: 70vh;
    }
}