.h1-cono{
    font-weight: 600;
    text-shadow: $tshadow;
}
.container-cono{
    img{
        border: solid 5px #363D43;
    }
    span{
        color: #ADE25D;
        text-decoration: underline;
    }
} 


@include mediaquery(768px) {
    .container-cono p{
        font-size: 1.1rem;
    }
}
@include mediaquery(992px) {
    .container-cono p{
        font-size: 1.15rem;
    }
    .h1-cono{
        font-size: 3rem;
    }
}