.h1-cono{
    font-weight: 600;
    text-shadow: $tshadow;
}
.container-cono p{
font-size: 1rem;
}
.container-cono img{
    border: solid 5px #363D43;
}

@include mediaquery(768px) {
    .container-cono p{
        font-size: 0.9rem;
    }
}

@include mediaquery(991px) {
    .container-cono p{
        font-size: 1.125rem;
    }
}