.bg-muestra{
    background-color: $color2;
    h1{
        font-size: 1.75rem;
    }
    p{
        font-size: 1.25rem;
    }
}
.img-muestra{
    background-size: cover;
    background-position: center;
}

@include mediaquery(1024px) {
    .bg-muestra h2{
        font-size: 2.5rem;
    }
    .bg-muestra p{
        font-size: 1.25rem;
    }
}