.gift img{
    width: 100%;
    height: 250px;
    border: solid 5px lightskyblue;
    border-radius: 5px;
    transition: all 1s ease-in-out;
}
.gift img:hover{
    transform: scale(1.1);
}
.gift h5{
    color: white;
    text-align: center;
    z-index: 2;
}

@include mediaquery(768px) {
    .gift{
        padding-top: 45px;
        padding-bottom: 50px;
    }
}