.main-servicios{
    color: white;
    text-align: center;
    h1{
        text-shadow: $tshadow;
        font-size: 3rem;
    }
    p{
        text-shadow: $pshadow;
        font-size: 1.10rem;
    }
    h2{
        text-shadow: $tshadow;
    }
}
.carousel-item{
    img{
        max-height: 700px;
    }
    h1{
        text-shadow: $tshadow;
    }
}